* {
  margin: 0;
  padding: 0;
}

.first {
  display: flex;
  justify-content: space-around;
  background-color: #0b2239;
  height: 72px;
  align-items: center;
}
.first button {
  background-color: #4ad295;
  color: #fff;
  font-weight: 600;
  width: 130px;
  height: 36px;
  border-radius: 2px;
  padding: 8px, 10px, 8px, 10px;
}
.first p {
  color: #fff;
}
.first a {
  color: #4ad295;
  margin-right: 40px;
}
